<div class= "container text-center ">
 <h2> <strong> Your Fight History </strong> </h2>
</div>

<div class="row">
  <div class="col-3">Date</div>
  <div class="col-3">Enemy Fought</div>
  <div class="col-3">Remaining Health</div>
  <div class="col-3">Defeated?</div>
</div>