
<div class= "container text-center ">

 <h2> <strong> Welcome back {{currentUser.name}} ready to level up? </strong> </h2>

 
</div>


<div class="mainButtons">
  <div class="row justify-content-center "> 
    <div class="pull-right col-md-6 col-lg-6 ">
      <button class="btn btn-primary btn-lg btn-block" id="fightButton">
        <span class="btn-overlay">
      <img src="./images/fight.png" alt="start workout image">
    </span>
    FIGHT!
      </button>
    </div>


  <div class="row justify-content-center ">
    <div class="pull-right col-md-6 col-lg-6">
      <button class="btn btn-primary btn-lg btn-block" id="historyButton">
       <span class="btn-overlay">
      <img src="./images/history.png" alt="image of an open book">
    </span>
    History
      </button>
    </div>

    </div>
  </div>
</div>

<script src="./js/homeButtons.js"></script>