    {{!-- <link rel="stylesheet" href="./css/style.css"> --}}
    <div class="selection-screen">
    <h2>Choose Your Difficulty:</h1>
    <div class="difficulty-options">
      <div class="option">
        <img src="https://via.placeholder.com/150x150" alt="Easy">
        <h2>Easy</h2>
      </div>
      <div class="option">
        <img src="https://via.placeholder.com/150x150" alt="Medium">
        <h2>Medium</h2>
      </div>
      <div class="option">
        <img src="https://via.placeholder.com/150x150" alt="Hard">
        <h2>Hard</h2>
      </div>
    </div>
  </div>